.cell {
  background-color: white;
  box-sizing: border-box;
  width: 100%;
  border-right: 1px solid var(--main-highlight-color);
  border-bottom: 1px solid var(--main-highlight-color);

}


.cell > input {
  background: transparent;
  padding: 0px;
  font-size: 3vw;
  width: 100%;
  height: 100%;
  text-align: center;
}

.cell > input:focus {
  background-color: var(--main-grey-color);
}


#C0, #C1, #C2, #C3, #C4, #C5, 
#C6, #C7, #C8, #F0, #F1, #F2,
#F3, #F4, #F5, #F6, #F7, #F8 {
  border-bottom: 3px solid var(--main-highlight-color);
}

#A2, #B2, #C2, #D2, #E2, #F2, 
#G2, #H2, #I2, #A5, #B5, #C5, 
#D5, #E5, #F5, #G5, #H5, #I5 {
  border-right: 3px solid var(--main-highlight-color);
}

#A8, #B8, #C8, #D8, #E8, #F8, #G8, #H8, #I8 {
  border-right: none;
}

#I0, #I1, #I2, #I3, #I4, #I5, #I6, #I7, #I8 {
  border-bottom: none;
}