#sudokuMenu {
  margin: 20px;
  flex-grow: 1;
  flex-shrink: 0;
  width: 110px;
}

.menuButton {
  display: inline-block;
  cursor: pointer;
  padding: 5px;
  margin: 2px;
  color: var(--font-color-dark);
  background-color: var(--main-grey-color);
  border: 1px solid var(--main-highlight-color);
  border-radius: 5px;
}

.menuButton:hover {
  background-color: darkgrey;
}

span {
  flex-wrap: nowrap;
}