#board {
  display: grid;
  place-items: start;
  justify-content: center;
  flex: 1;
}

#errorContainer {
  padding: 20px 0;
}

#errorContainer > h3 {
  text-align: center;
  color: #FFF;
  margin: 0;
}

#loading {
  margin: 0 auto;
}

#sudoku {
  background-color: var(--accent-bg-color);
  box-sizing: border-box;
  font-weight: normal;
  max-width: 960px;
  padding: 10px;
}

#sudoku > h1 {
  text-align: center;
  color: #FFF
}

#sudokuMenu {
  flex: 1;
  justify-content: center;
}

@media (min-width: 650px) {
  .boardMenuContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #board {
    grid-template-columns: repeat(9, 45px);
    grid-template-rows: repeat(9, 45px);
  }

  .cell > input {
    font-size: 3vw
  }

  #sudokuMenu {
    justify-content: space-between;
  }
}

@media(max-width: 650px) {
  #board {
    grid-template-columns: repeat(9, 10vw);
    grid-template-rows: repeat(9, 10vw)
  }

  .cell > input {
    font-size: 7vw
  }

  #sudokuMenu {
    display: flex;
    width: 90vw;
    /* align-items: center; */
    justify-content: center;
    margin-top: 10px;
  }
}

@media(min-width: 950px) {
  #sudokuMenu {
    display: flex;
  }
}

@media(min-width: 450px) {
  #sudoku {
    border-radius: 10px;
  }
}


.menuButton {
  background-color: var(--main-bg-color);
  border: 2px solid var(--main-highlight-color);
  border-radius: 5px;
  box-sizing: border-box;
  color: var(--text-color-dark);
  cursor: pointer;
  font-weight: bold;
  padding: 5px;
}

.menuButton:hover {
  background-color: var(--accent-bg-color);
  color: var(--text-color-light)
}


.cell {
  background-color: white;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-right: 1px solid var(--main-highlight-color);
  border-bottom: 1px solid var(--main-highlight-color);
  
}


.cell > input {
  background: transparent;
  padding: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  color: var(--text-color-dark)
}

.cell > input:focus {
  background-color: var(--main-bg-color);
}


#C0, #C1, #C2, #C3, #C4, #C5, 
#C6, #C7, #C8, #F0, #F1, #F2,
#F3, #F4, #F5, #F6, #F7, #F8 {
  border-bottom: 3px solid var(--main-highlight-color);
}

#A2, #B2, #C2, #D2, #E2, #F2, 
#G2, #H2, #I2, #A5, #B5, #C5, 
#D5, #E5, #F5, #G5, #H5, #I5 {
  border-right: 3px solid var(--main-highlight-color);
}

#A8, #B8, #C8, #D8, #E8, #F8, #G8, #H8, #I8 {
  border-right: none;
}

#I0, #I1, #I2, #I3, #I4, #I5, #I6, #I7, #I8 {
  border-bottom: none;
}