#about {
  background-color: var(--accent-bg-color);
  box-sizing: border-box;
  color: white;
  margin: 20px 0px;
  padding: 20px;
  max-width: 960px;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

@media (min-width: 450px) {
  #about {
    border-radius: 10px;
  }
}